<section class="footerouter" >
    <div class="footer">
    <div>
        <h2>Reference</h2>
        <h4>Legend</h4>
        <h4>Glossary</h4>
        <h4>World</h4>
        <h4>Knowledge Base</h4>
    </div>
    <div>
        <h2>Company</h2>
        <h4>Photo</h4>
        <h4>News</h4>
        <h4>Conatct Us</h4>
    </div>
    <div>
        <h2>Support</h2>
        <h4> 1800-250-5260</h4>
        <h4>support@example.com</h4>
        <h4>support@example.com</h4>
    </div>
    <div>
      <img src="/images/logo-white.png" alt="">
      <h4>Lorem Ipsum is simply dummy text <br> of the printing and typesetting <br> industry. Lorem</h4>
    </div>
    </div>
    <hr>
    <p>2022-2023 &copy; Weather. All rights reserved</p>
</section>
