<section class="navbar">
    <div class="nav_logo">
        <img src="/images/logo.png" alt="">
    </div>
    <div class="nav_links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Map</a></li>
            <li><a href="">Photo</a></li>
            <li><a href="/weather">Weather</a></li>
            <button>Login</button>
            
        </ul>
    </div>
</section> 
